@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900");
body {
  font-family: "Roboto", sans-serif; }

.icone--agressivo {
  color: red; }

.icone--nagressivo {
  color: #bbbbbb; }

.site--interno {
  margin-top: 100px; }

@media (max-width: 767.98px) {
  .site--interno {
    margin-top: 0px; } }
.header-web {
  background-color: #343a40;
  position: fixed;
  top: 0;
  transition: all 200ms linear;
  width: 100%;
  z-index: 9999; }
  .header-web a {
    color: white; }

@media (max-width: 767.98px) {
  .header-mobile {
    background-color: #343a40;
    margin-bottom: 40px;
    padding: 10px 0px; }
    .header-mobile .links {
      display: flex; }
      .header-mobile .links .home, .header-mobile .links .menu {
        flex: 1; }
        .header-mobile .links .home a, .header-mobile .links .menu a {
          color: white; }
      .header-mobile .links .menu {
        margin-right: 15px;
        text-align: right; }
    .header-mobile #menu-collapse .navbar-nav {
      margin-top: 5px; }
      .header-mobile #menu-collapse .navbar-nav .item {
        margin: 0px 15px 0px 15px; }
      .header-mobile #menu-collapse .navbar-nav a {
        color: white; } }
.site--interno .search {
  margin: auto;
  margin-bottom: 45px;
  width: 50%; }
.site--interno .panel {
  display: flex;
  flex-wrap: wrap; }
  .site--interno .panel .carta {
    border: 1px solid #d6d6d6;
    border-radius: 9px;
    flex: 1 0 16%;
    flex-grow: 1;
    max-height: 250px;
    margin-bottom: 50px;
    margin-right: 55px;
    position: relative; }
    .site--interno .panel .carta .imagem img {
      border-radius: 9px;
      max-height: 250px;
      width: 100%; }
    .site--interno .panel .carta .titulo {
      background-color: #212121;
      bottom: 0;
      border-radius: 9px;
      color: white;
      left: 50%;
      min-width: 100px;
      padding: 5px;
      position: absolute;
      transform: translateX(-50%) translateY(50%);
      text-align: center;
      white-space: nowrap; }

@media (max-width: 767.98px) {
  .site--interno .panel .carta {
    flex: 1 0 100%;
    margin-right: 0px; } }
.site--interno .perfil {
  display: flex;
  margin-bottom: 50px; }
  .site--interno .perfil .linha {
    flex: 0.2;
    border-top: 1px solid #eeeeee;
    position: relative;
    margin: 100px 15px 0px 15px; }
    .site--interno .perfil .linha .icone {
      position: absolute;
      top: -17px;
      right: 0;
      box-sizing: content-box;
      background-color: white;
      color: #a5a5a5;
      border: 5px solid #FFF; }
  .site--interno .perfil .informacoes {
    display: flex;
    border: 1px solid #bbbbbb;
    border-radius: 9px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 100%; }
    .site--interno .perfil .informacoes .infos {
      width: 100%; }
    .site--interno .perfil .informacoes .icone {
      background-color: #f7f7f7;
      border-top-right-radius: 9px;
      color: #343a40;
      margin-bottom: 5px;
      padding: 6px 0px;
      text-align: center; }
    .site--interno .perfil .informacoes .dados {
      display: flex;
      font-size: 14px;
      margin-bottom: 15px; }
      .site--interno .perfil .informacoes .dados .nome, .site--interno .perfil .informacoes .dados .ala {
        flex: 1;
        text-align: center; }
    .site--interno .perfil .informacoes .doencas {
      display: flex;
      font-size: 14px; }
      .site--interno .perfil .informacoes .doencas .doenca {
        flex: 1;
        text-align: center; }
        .site--interno .perfil .informacoes .doencas .doenca .doenca-nome, .site--interno .perfil .informacoes .doencas .doenca .doenca-descricao, .site--interno .perfil .informacoes .doencas .doenca .doenca-agressividade {
          margin-bottom: 10px;
          padding: 0px 5px 0px 5px; }

#exampleModal .modal-dialog {
  top: 50px; }
  #exampleModal .modal-dialog .modal-footer a {
    width: 100%; }

.footer-web {
  color: white;
  background-color: #212529;
  font-size: 12px;
  margin-top: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%; }
  .footer-web a {
    color: white;
    margin: 5px 20px 14px 0px; }
  .footer-web .sass-icon :hover {
    color: #bf4080; }
  .footer-web .js-icon :hover {
    color: crimson; }
  .footer-web .java-icon :hover {
    color: brown; }
  .footer-web .python-icon :hover {
    color: yellow; }
  .footer-web .db-icon :hover {
    color: blue; }
  .footer-web .springboot-icon :hover {
    color: green; }

/*# sourceMappingURL=newStyle.css.map */
