@charset "ISO-8859-1";
#tabela-zebrada tbody tr:nth-child(2n+1)
 {
   background: #ccc; 
 }
 
 .maxH
 {
 	max-height: 200px; 
 	overflow: auto;
 	
 }
 .H
 {
   height: 100%;
 }

 .buttonDiv
 {
   text-align: center;
 }