@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900')
@import "_functions.scss"
@import "_variables.scss"
@import "_breakpoints.scss"

body
	font-family: 'Roboto', sans-serif
	
//Helpers
.icone--agressivo
	color: red
.icone--nagressivo
	color: #bbbbbb
	
// Margin das paginas internas, para nao colidir com header
.site--interno
	margin-top: 100px
	
@include media-breakpoint-down(sm)
	.site--interno
		margin-top: 0px

// Header
.header-web
	background-color: #343a40
	position: fixed
	top: 0
	transition: all 200ms linear
	width: 100%
	z-index: 9999
	& a
		color: white
		
@include media-breakpoint-down(sm)
	.header-mobile
		background-color: #343a40
		margin-bottom: 40px
		padding: 10px 0px
		& .links
			display: flex
			& .home, & .menu
				flex: 1
				& a
					color: white
			& .menu
				margin-right: 15px
				text-align: right
		& #menu-collapse
			& .navbar-nav
				margin-top: 5px
				& .item
					margin: 0px 15px 0px 15px
				& a
					color: white

// Pacientes
.site--interno
	& .search
		margin: auto
		margin-bottom: 45px
		width: 50%
	& .panel
		display: flex
		flex-wrap: wrap
		& .carta
			border: 1px solid #d6d6d6
			border-radius: 9px
			flex: 1 0 16%
			flex-grow: 1
			max-height: 250px
			margin-bottom: 50px
			margin-right: 55px
			position: relative
			& .imagem
				& img
					border-radius: 9px
					max-height: 250px
					width: 100%
			& .titulo
				background-color: #212121
				bottom: 0
				border-radius: 9px
				color: white
				left: 50%
				min-width: 100px
				padding: 5px
				position: absolute
				transform: translateX(-50%) translateY(50%)
				text-align: center
				white-space: nowrap

@include media-breakpoint-down(sm)
	.site--interno
		& .panel
			& .carta
				flex: 1 0 100%
				margin-right: 0px
				
// Perfil paciente
.site--interno
	& .perfil
		display: flex
		margin-bottom: 50px
		& .linha
			flex: 0.20
			border-top: 1px solid #eeeeee
			position: relative
			margin: 100px 15px 0px 15px
			& .icone
				position: absolute
				top: -17px
				right: 0
				box-sizing: content-box
				background-color: white
				color: #a5a5a5
				border: 5px solid #FFF
		& .informacoes
			display: flex
			border: 1px solid #bbbbbb
			border-radius: 9px
			border-bottom-left-radius: 0px
			border-top-left-radius: 0px
			width: 100%
			& .infos
				width: 100%	
			& .icone
				background-color: #f7f7f7
				border-top-right-radius: 9px
				color: #343a40
				margin-bottom: 5px
				padding: 6px 0px
				text-align: center
			& .dados
				display: flex
				font-size: 14px
				margin-bottom: 15px
				& .nome, & .ala
					flex: 1
					text-align: center
			& .doencas
				display: flex
				font-size: 14px
				& .doenca
					flex: 1
					text-align: center
					& .doenca-nome, & .doenca-descricao, & .doenca-agressividade
						margin-bottom: 10px
						padding: 0px 5px 0px 5px
					
// modal				
#exampleModal
	& .modal-dialog
		top: 50px
		& .modal-footer
			a
				width: 100%

// footer		
.footer-web
	color: white
	background-color: #212529
	//bottom: 0
	font-size: 12px
	margin-top: 100px
	padding-bottom: 10px
	padding-top: 10px
	//position: absolute
	width: 100%
	& a
		color: white
		margin: 5px 20px 14px 0px
	& .sass-icon
		& :hover
			color: #bf4080
	& .js-icon
		& :hover
			color: crimson
	& .java-icon
		& :hover
			color: brown
	& .python-icon
		& :hover
			color: yellow
	& .db-icon
		& :hover
			color: blue
	& .springboot-icon
		& :hover
			color: green