@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900')
@import "_functions.scss"
@import "_variables.scss"
@import "_breakpoints.scss"

body
	font-family: 'Roboto', sans-serif


//Header home
.header-top
	background-color: #fff
	box-shadow: 0 -3px 9px #000
	padding: 8px 0px
	position: fixed
	width: 100%
	z-index: 10
	& .menu
		& .link
			color: rgb(41, 180, 115)
			&::after
				content: "Gerenciamento de Medicamentos"
				transition: all .4s

.header-home
	background-image: url('../images/hospicio.jpg')
	background-color: #29b473
	background-position: center center
	background-repeat: repeat
	background-size: cover
	min-height: 31.25rem
	position: fixed
	opacity: 1
	width: 100%
	& .content
		margin: auto
		max-width: 50rem
		padding: 8.75rem 0 4.125rem
		text-align: center
		transform: translateY(0px)
		opacity: 1
		width: 95%
		& .titulo
			text-shadow: 3px 3px #62c991
			color: #fff

.site--home
	& .menus
		background-color: #fff
		position: relative
		top: 27.25rem
		& .hizli-menu
			padding-bottom: 50px
			& .hizli-menu-ic
				& .btn-group
					background-color: rgb(41, 180, 115)
					color: #fff
					font-size: 18px
					display: flex
					width: 100%
					align-items: center
					height: 200px
					padding: 26px 36px 26px 26px
					margin: 80px 0px 0px 0px
					position: relative
					border-radius: 5px
					&:hover
						background: #d8ec8a
						color: black
						&:After
							background: #a6b179
							transform: translate(0,0px)
							height: 91px
							border-radius: 8px
					& span
						margin: 5px
						display: block
						font-weight: 800
						padding-left: 15px
					&:After
						position: absolute
						display: block
						content: ""
						width: 76px
						height: 8px
						background: #fbff9b
						bottom: -8px
						left: 10px
						margin: auto
						padding: 30px
						border-top-left-radius: 5px
						border-top-right-radius: 5px
						transition: cubic-bezier(0, 0.71, 0, 1.07) .7s
				& .btn-paciente
					&:hover
						&:After
							font-family: "Font Awesome 5 Free"
							font-weight: 900
							content: "\f007"
				& .btn-remedio
					&:hover
						&:After
							font-family: "Font Awesome 5 Free"
							font-weight: 900
							content: "\f46b"
							
				& .btn-doenca
					&:hover
						&:After			
							font-family: "Font Awesome 5 Free"
							font-weight: 900
							content: "\f7e6"
				& .btn-historico
					&:hover
						&:After			
							font-family: "Font Awesome 5 Free"
							font-weight: 900
							content: "\f478"								
	
	
//Helpers
.icone--agressivo
	color: red
.icone--nagressivo
	color: #bbbbbb
.btn-red
	background-color: #e50019
	border-color: #e50019
	color: white
.alert-true
	top: 120px
	transition: all 0.5s ease-in-out 0s
.alert-false
	position: absolute
	z-index: 99999
	width: 50%
	top: -100px
.border-fixed
	color: rgb(41, 180, 115)
	font-size: 19px
	font-weight: bold
	min-height: 59px
	padding: 13px 15px
	border-bottom: 5px solid #29b473
	&:hover
		color: rgb(41, 180, 115)
		text-decoration: none	
	
// Margin das paginas internas, para nao colidir com header
.site--interno
	margin-top: 100px
	
@include media-breakpoint-down(sm)
	.site--interno
		margin-top: 0px

// Header
.header-web
	background-color: #fff
	box-shadow: 0 -3px 9px #000
	position: fixed
	top: 0
	transition: all 200ms linear
	width: 100%
	z-index: 9999
	& .navbar
		padding: 0px
		& .nav-link
			color: rgb(41, 180, 115)
			font-size: 19px
			font-weight: bold
			min-height: 59px
			padding: 13px 15px
			&:hover
				border-bottom: 5px solid #29b473
		
@include media-breakpoint-down(sm)
	.header-mobile
		background-color: #29b473
		margin-bottom: 40px
		padding: 10px 0px
		& .links
			display: flex
			& .home, & .menu
				flex: 1
				& a
					color: white
			& .menu
				margin-right: 15px
				text-align: right
		& #menu-collapse
			& .navbar-nav
				margin-top: 5px
				& .item
					padding: 10px 15px 10px 15px
				& a
					color: white
					&:hover
						background-color: #d8ec8a
						color: black

// Pacientes
.site--interno
	& .search
		margin: auto
		margin-bottom: 45px
		width: 50%
	& .panel
		display: flex
		flex-wrap: wrap
		& .carta
			border: 1px solid #d6d6d6
			border-radius: 9px
			flex: 1 0 16%
			flex-grow: 1
			max-height: 250px
			margin-bottom: 50px
			margin-right: 55px
			max-width: 220px
			position: relative
			& .imagem
				& img
					border-radius: 9px
					max-height: 250px
					width: 100%
			& .titulo
				background-color: #212121
				bottom: 0
				border-radius: 9px
				color: white
				left: 50%
				min-width: 100px
				padding: 5px
				position: absolute
				transform: translateX(-50%) translateY(50%)
				text-align: center
				white-space: nowrap

@include media-breakpoint-down(sm)
	.site--interno
		& .search
			width: 100%
		& .panel
			& .carta
				flex: 1 0 100%
				margin-right: 0px
				max-width: none

//Remedios
.site--interno
	& #divDaTabela, & #historicoRemedios
		margin-bottom: 80px
		& thead
			background-color: #29b473
			color: white
		& tbody
			& td
				text-align: center
// Perfil paciente
.site--interno
	& .perfil
		display: flex
		margin-bottom: 50px
		& .linha
			flex: 0.20
			border-top: 1px solid #eeeeee
			position: relative
			margin: 100px 15px 0px 15px
			& .icone
				position: absolute
				top: -17px
				right: 0
				box-sizing: content-box
				background-color: white
				color: #a5a5a5
				border: 5px solid #FFF
		& .informacoes
			display: flex
			border: 1px solid #bbbbbb
			border-radius: 9px
			border-bottom-left-radius: 0px
			border-top-left-radius: 0px
			width: 100%
			& .infos
				width: 100%	
			& .icone
				background-color: #f7f7f7
				border-top-right-radius: 9px
				color: #343a40
				margin-bottom: 5px
				padding: 6px 0px
				text-align: center
			& .dados
				display: flex
				font-size: 14px
				margin-bottom: 15px
				& .nome, & .ala
					flex: 1
					text-align: center
			& .doencas
				display: flex
				font-size: 14px
				& .doenca
					flex: 1
					text-align: center
					& .doenca-nome, & .doenca-descricao, & .doenca-agressividade
						margin-bottom: 10px
						padding: 0px 5px 0px 5px
	& .medicacoes
		display: flex
		margin-bottom: 80px
		& .carta-medicacao
			border: 1px solid #bbbbbb
			border-radius: 9px
			max-height: 180px
			flex: 1
			margin-right: 15px
			padding: 10px 0px 0px 0px			
			text-align: center
			& .nome, & .remedio
				margin-bottom: 5px
			& .botao
				& .btn-red
					border-top-left-radius: 0px
					border-top-right-radius: 0px
					width: 100%
@include media-breakpoint-down(sm)
	.site--interno
		& .perfil
			margin-botom: 40px
			& .informacoes
				border-bottom-left-radius: 9px
				border-top-left-radius: 9px
				flex-direction: column
				& .foto
					& img
						border-top-left-radius: 9px
						border-top-right-radius: 9px
						width: 100%
				& .doencas
					flex-direction: column
					& .doenca
						margin-bottom: 20px
		& .botao-collapse
			margin-bottom: 30px
			& .btn-red
				border-radius: 9px
		& .medicacoes
			flex-direction: column
			margin-bottom: 0px
			& .carta-medicacao
				margin-right: 0px
				margin-bottom: 30px
		& #historicoRemedios
			margin-top: 40px
					
// modal				
#exampleModal
	& .modal-dialog
		top: 50px
		& .modal-footer
			a
				width: 100%

.footer--web, .footer--mobile
	background-color: #29b473
	padding: 15px 0px
	& .icones
		display: flex
		& .icone
			flex: 1
			text-align: center
			& .link--icone
				color: white
				position: relative
				font-size: 20px
				width: 45px
				height: 45px
				line-height: 45px
				display: inline-block
				text-align: center
				perspective: 50em
				box-sizing: border-box
				&:hover
					transition: all 200ms linear
					&:After
						border-color: #d8ec8a transparent #d8ec8a transparent
						transform: rotate(360deg)
				&:After
					content: ''
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					border: 2px solid #e6e6e6
					transition: all 0.95s
					z-index: -1
					border-radius: 50%
					&:hover
						border-color: #c0392b transparent #c0392b transparent
						transform: rotate(360deg)
				& .fab
					font-family: Font Awesome\ 5 Brands
			& .sass-icon
				&:hover
					color: #bf4080
			& .js-icon
				&:hover
					color: #f7e018
			& .java-icon
				&:hover
					color: brown
			& .python-icon
				&:hover
					color: #4949ff
			& .db-icon
				&:hover
					color: #00009a
			& .springboot-icon
				&:hover
					color: #71ff71
			& .github-icon
				&:hover
					color: #eeeeee
			& .fas-icon
				&:hover
					color: #edd764
	& .icones--margin
		margin-top: 10px
// footer		
.footer-web
	color: white
	background-color: #212529
	//bottom: 0
	font-size: 12px
	margin-top: 100px
	padding-bottom: 10px
	padding-top: 10px
	//position: absolute
	width: 100%
	& a
		color: white
		margin: 5px 20px 14px 0px
	& .sass-icon
		& :hover
			color: #bf4080
	& .js-icon
		& :hover
			color: crimson
	& .java-icon
		& :hover
			color: brown
	& .python-icon
		& :hover
			color: yellow
	& .db-icon
		& :hover
			color: blue
	& .springboot-icon
		& :hover
			color: green