<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/newStyle.css">
	<link rel="stylesheet" href="../css/styleDoenca.css">
	<title>Gerenciamento de Doenças</title>
</head>

<body class="site site--interno">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
			<div class="container">
				<a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
				<a class="nav-link" href="/pacientes">Pacientes</a>
				<a class="nav-link" href="/remedios">Remedios</a>
				<a class="nav-link" href="/doencas">Doenças</a>
				<div id="navbar-main" class="collapse navbar-collapse">
				</div>
		</nav>
	</header>
	<h1 class="h1-mixin">Teste de mixin usando site responsivo</h1>
	<div class="container" id='divDaTabela'>
		<table class="table table-striped table-hover maxH" id='doencasTable'>
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Exemplo</th>
					<th>Agressivo</th>
					<th>Remedio</th>
				</tr>
			</thead>
		</table>
	</div>
	<footer class="footer-web d-none d-sm-block">
		<div class="container">
			<div class="icones">
				<a href="https://sass-lang.com/" class="sass-icon" target="_blank"><i class="fab fa-sass fa-3x"></i></a>
				<a href="https://www.javascript.com/" class="js-icon" target="_blank"><i
						class="fab fa-js-square fa-3x"></i></a>
				<a href="https://www.java.com/pt_BR/" class="java-icon" target="_blank"><i
						class="fab fa-java fa-3x"></i></a>
				<a href="https://www.python.org/" class="python-icon" target="_blank"><i
						class="fab fa-python fa-3x"></i></a>
				<a href="https://www.postgresql.org/" class="db-icon" target="_blank"><i
						class="fas fa-database fa-3x"></i></a>
				<a href="https://spring.io/projects/spring-boot" class="springboot-icon" target="_blank"><i
						class="fas fa-leaf fa-3x"></i></a>
				<a href="https://github.com/" class="github-icon" target="_blank"><i
						class="fab fa-github fa-3x"></i></a>
			</div>
		</div>
	</footer>
	<footer class="footer-mobile d-block d-sm-none">
		<div class="container">
			<div class="icones">
				<a href="https://sass-lang.com/" class="sass-icon" target="_blank"><i class="fab fa-sass fa-3x"></i></a>
				<a href="https://www.javascript.com/" class="js-icon" target="_blank"><i class="fab fa-js-square fa-3x"></i></a>
				<a href="https://www.java.com/pt_BR/" class="java-icon" target="_blank"><i class="fab fa-java fa-3x"></i></a>
			</div>
			<div class="icones">
				<a href="https://www.python.org/" class="python-icon" target="_blank"><i class="fab fa-python fa-3x"></i></a>
				<a href="https://www.postgresql.org/" class="db-icon" target="_blank"><i class="fas fa-database fa-3x"></i></a>
				<a href="https://spring.io/projects/spring-boot" class="springboot-icon" target="_blank"><i class="fas fa-leaf fa-3x"></i></a>
			</div>
			<div class="icones">
				<a href="https://github.com/" class="github-icon" target="_blank"><i class="fab fa-github fa-3x"></i></a>
			</div>
		</div>
	</footer>
	<!-- Scripts de jQuery, Popper e JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="../webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/doenca.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</body>

</html>