<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../css/styles.css">
<link href="../webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Gerenciar Medicamentos</title>
<style></style>
</head>
<body>
<h1 align="center">Pacientes</h1>
<div id="pacientes"></div>
<div class = "buttonDiv"><button id="pesq" type="button">Pesquisar</button></div>
<div class="container H">
        <table class="table table-striped maxH" id='pacientesTable'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>ala</th>
                </tr>
            </thead>
            <tbody id=lista>

            </tbody>
        </table>
    </div>
<script type="text/javascript" src="../webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../../js/paciente.js"></script>
</body>
</html>