<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../css/newStyle.css">
		<title>Gerenciamento de Medicações</title>
	</head>
	<body class="site site--home">
		<header class= "header-top">
			<div class="container">
				<h2 class="menu">
					<a class="link" href="/" aria-label=""></a>
				</h2>
			</div>
		</header>
		<header class="header-home">
			<div class="content">
			</div>
		</header>
		<section class="menus">
			<div class="hizli-menu container-fluid">
				<div class="hizli-menu-ic container">
					<div class="row">
						<div class="col-md-4">
							<a class="btn-group btn-paciente" href="/pacientes">
								<div class="row">
									<div class="col-md-4 col-xs-5">
									</div>
									<div class="col-md-8 col-xs-7">
									  <span>Pacientes</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="btn-group btn-remedio" href="/remedios">
								<div class="row">
									<div class="col-md-4 col-xs-5">
									</div>
									<div class="col-md-8 col-xs-7">
									  <span>Remédios</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="btn-group btn-doenca" href="/doencas">
								<div class="row">
									<div class="col-md-4 col-xs-5">								 
									</div>
									<div class="col-md-8 col-xs-7">
									  <span>Doenças</span>
									</div>
								</div>
							</a>					
						</div>
					</div>
				</div>
			</div>
			<div>
				<h2>Introdução<i class="fa fa-user"></i></h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod urna nec metus pretium, quis venenatis dolor mollis. Aliquam sit amet nisi a dui luctus tincidunt. Fusce pharetra finibus arcu. Integer luctus semper lorem et consequat. Duis tincidunt elit ante, a viverra ipsum commodo vel. Fusce consectetur nunc vitae mauris interdum finibus. Mauris vehicula erat vel tempus posuere. Donec eget feugiat quam. Phasellus id tincidunt felis, mattis venenatis massa. Aenean malesuada tellus sollicitudin pretium tempus. Maecenas tincidunt, erat maximus suscipit vehicula, turpis metus rutrum leo, nec tincidunt nunc elit vitae felis. Ut congue ipsum vel nibh rutrum sollicitudin. Sed fermentum odio consectetur odio vulputate sollicitudin.
				</p><br/><br/>
				<p>
					In hac habitasse platea dictumst. Quisque at lobortis felis, in interdum arcu. Sed non turpis libero. Sed sodales aliquet nunc eget vestibulum. Aliquam cursus quis lorem quis malesuada. Donec et molestie justo, sed faucibus dolor. Vestibulum consectetur vitae orci a consectetur. Praesent condimentum sapien nec pellentesque mollis. Phasellus vitae arcu vitae arcu pretium viverra. In hac habitasse platea dictumst. Donec porttitor vitae velit vitae faucibus. Aenean vel vulputate erat. Nam dignissim rutrum metus et ullamcorper. Nullam bibendum erat nec risus consectetur interdum. Nunc eget dolor diam.
				</p>
				<p>
				Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse eu sapien tincidunt, scelerisque eros id, interdum purus. In ac ornare nunc. Donec quis felis eget dui venenatis ornare vitae eu sapien. Fusce in justo sapien. Pellentesque leo lectus, eleifend vitae sagittis et, vehicula ac est. Quisque id consequat leo. Maecenas massa dolor, auctor et nunc in, vestibulum tempus turpis. Donec sed dolor at leo mollis ultrices in quis eros. Fusce dictum accumsan sem, sed pellentesque erat accumsan eget. Nam porta blandit sem, dictum tincidunt massa efficitur a. Nam pretium varius augue, eu vulputate lorem hendrerit scelerisque. Aliquam tempor lacus ut dolor dictum hendrerit.
				</p>
				</div>
		</section>
		<!-- Scripts de jQuery, Popper e JavaScript -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script type="text/javascript" src="../webjars/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/index.js"></script>
	</body>
</html>